N9K-9.*:
    # match exactly one release
    # if match fails, the load image 'nxos_1b'
    exact: 7.0(3)I1(1b)
    image: nxos_1b

N3K-3.*:
    # match exactly either the 2a or 2b release
    # if match fails, then load image 'nxos_2b'
    exact:
        - 7.0(3)I2(2a)
        - 7.0(3)I2(2b)
    image: nxos_2b

N[57]K-.*:
    # match any 3<> releases using regex match
    # if match fails, load image 'nxos_5or7k'
    match: 7\.0\(3\)I2\(3.\)
    image: nxos_5or7k


