<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aeon ZTP Server for AOS</title>
    {% if g.refresh %}
    <meta http-equiv="refresh" content="{{g.refresh}}" />
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('web.static', filename='css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('web.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    {% block meta%}
    {% endblock meta %}
  </head>
  <body>
    {% include "nav.html" %}
    <div class="container" role="main">  
      {% include "alert.html" %}
      {% block content %}
      {% endblock %}
    </div> <!-- ./container main -->
    <!-- At end of document so pages load faster -->
    <script src="{{ url_for('web.static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('web.static', filename='js/bootstrap.min.js') }}"></script>
    {% block script %}
    {% endblock script %}
  </body>
</html>
