{% extends "base.html" %}
{% block content %}

<head>
<meta http-equiv="refresh" content="5">
</head>

<table class="table" id="statusTable">
  <tr>
    <th>IP</th>
    <th>OS Name</th>
    <th>Serial number</th>
    <th>Hardware Model</th>
    <th>OS Version</th>
    <th>State</th>
    <th>Message</th>
    <th>Created</th>
    <th>Updated</th>
    <th>ZTP logs</th>
    <th>ZTP Retry</th>
    <th>Delete</th>
  </tr>
  {% for device in devices %}
  {# TODO: jinja context processor #}
  {% if device.state == 'ERROR' %}
  {% set class = 'danger' %}
  {% elif device.state == 'DONE' %}
  {% set class = 'success' %}
  {% else %}
  {% set class = 'info' %}
  {% endif %}
    <tr class="{{class}}">
      <td>{{device.ip_addr}}</td>
      <td>{{device.os_name}}</td>
      <td>{{device.serial_number}}</td>
      <td>{{device.hw_model}}</td>
      <td>{{device.os_version}}</td>
      <td><span class="label label-{{class}}">{{device.state}}</span></td>
      <td>{{device.message}}</td>
      <td>{{ moment(device.created_at).format('h:m:sA MM/DD/YYYY') }}</td>
      <td>{{ moment(device.updated_at).format('h:m:sA MM/DD/YYYY') }}</td>
      <td><a href="/logs?bootstrapper=y&searchfilter={{device.ip_addr}}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-list-alt"></span> Logs</button></a></td>
      <td><a href="/devices/retry/{{ device.ip_addr }}"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-refresh"></span> Retry</button></a></td>
      <td>
          <form></form>
          <a href="/devices/delete/{{device.ip_addr}}"><button type="submit" formmethod="post" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}

